<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>RavegramWeb</display-name>
  <welcome-file-list>
    <welcome-file>/private/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <filter>
    <filter-name>RequestLogFilter</filter-name>
    <filter-class>com.luis.ravegram.web.filter.RequestLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestLogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>KeepAuthenticatedFilter</filter-name>
    <filter-class>com.luis.ravegram.web.filter.KeepAuthenticatedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KeepAuthenticatedFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AutentificationFilter</filter-name>
    <filter-class>com.luis.ravegram.web.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutentificationFilter</filter-name>
    <url-pattern>/private/*</url-pattern>
  </filter-mapping>
</web-app>